.container(data-widget="NavBar")
  nav.navbar.navbar-inverse
    .navbar-inner
      button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') Home

      .nav-collapse.collapse
        ul.nav
          li
            a(href="#", data-toggle='dropdown') Menu

