extends layout

block append stylesheets
  != assets.css('bootstrap-extension')

block page
  main
    header
      block navbar
        include navbar

    block page-content

  footer
    block footer
      include footer

block body-scripts


